#mce-content {
padding:1em;
background:#FFF;
font-size:1em;
}

#mce-content:before {
display:none;
}

.mce-tinymce {
margin-bottom:1.5em !important;
}

* {
margin:0;
padding:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

.preload * {
-webkit-transition:none !important;
-moz-transition:none !important;
-ms-transition:none !important;
transition:none !important;
}

p {
margin:.7em 0;
}

button,.action,input[type=submit],.sidebar,.main-content,.breadcrumbs {
-webkit-transition-timing-function:ease-in-out;
-moz-transition-timing-function:ease-in-out;
-ms-transition-timing-function:ease-in-out;
transition-timing-function:ease-in-out;
-webkit-transition:.25s;
-moz-transition:.25s;
-ms-transition:.25s;
transition:.25s;
}

input[type=text]:active,input[type=text]:focus,input[type=email]:focus,input[type=email]:active,textarea:active,textarea:focus {
-moz-outline-style:none;
outline-style:none;
border:1px solid #C83038 !important;
}

nav a:focus,.sq-logo:focus {
-moz-outline-style:none;
outline-style:none;
margin:-1px 0;
border-top:1px solid #C83038;
border-bottom:1px solid #C83038;
}

.action:focus,button:focus,input[type=submit]:focus {
outline:2px solid #C83038;
}

a {
color:#476790;
}

h2,h3 {
margin-bottom:.2em;
display:inline-block;
padding-right:1.5rem;
}

h4 {
margin-top:.5em;
}

.secondary {
color:#777;
margin-top:-.5em;
}

.count {
position:relative;
top:-.1em;
color:#777;
}

body {
background:#FCFBF9;
-webkit-text-size-adjust:none;
font-family:"Open Sans";
}

body:before {
content:"";
position:fixed;
top:0;
width:100%;
z-index:40;
height:.4em;
background:#C83038;
}

.sq-logo {
display:block;
padding:1.5em 1.5em .3em;
text-decoration:none;
}

.sq-logo:before,.sq-logo:after,.sq-logo h1:before {
content:"";
width:2.5em;
height:2.5em;
display:block;
position:absolute;
background:#333;
}

.sq-logo:before {
top:1.5em;
}

.sq-logo:after {
top:1.5em;
left:4.5em;
}

.sq-logo h1:before {
top:4.5em;
left:1.5em;
}

.sq-logo:hover :before,.sq-logo:focus :before,.sq-logo:active :before,
.sq-logo:hover:before,.sq-logo:focus:before,.sq-logo:active:before,
.sq-logo:hover:after,.sq-logo:focus:after,.sq-logo:active:after {
-moz-outline-style:none;
outline-style:none;
background:#C83038;
}

.sq-logo h1 {
color:#333;
font-size:1em;
padding-top:6.4em;
font-weight:normal;
}

.sidebar {
background:#FCFBF9;
border-right:1px solid #DDD;
width:15%;
overflow:auto;
position:fixed;
height:100%;
z-index:20;
padding-bottom:3em;
margin-top:.4em;
-webkit-overflow-scrolling:touch;
}

nav a {
display:block;
color:#333;
margin:.3em 0;
padding:0 1.5em;
text-decoration:none;
position:relative;
}

nav a.active,nav a:hover {
color:#C83038;
}

nav span {
font-weight:bold;
display:block;
width:100%;
font-size:.9em;
padding:1em .5em .1em;
}

.content {
width:85%;
z-index:15;
position:relative;
float:right;
padding-top:.4em;
-webkit-overflow-scrolling:touch;
}

section,footer {
padding:3em 1.5em;
}

footer small {
font-size:.9em;
}

.breadcrumbs {
position:fixed;
top:.4em;
list-style:none;
overflow:hidden;
background:#FCFBF9;
width:100%;
z-index:10;
border-bottom:1px solid #DDD;
padding:0 1.4em;
}

.breadcrumbs li {
display:inline-block;
}

.breadcrumbs li a,.breadcrumbs li span {
display:inline-block;
text-decoration:none;
padding:.25em .9em .3em .3em;
}

.breadcrumbs li a:after {
content:"";
position:absolute;
height:40px;
top:-4px;
padding-right:.6em;
width:1px;
-webkit-transform:rotate(25deg); 
-moz-transform:rotate(25deg); 
-o-transform:rotate(25deg);
-ms-transform:rotate(25deg);
transform:rotate(25deg); 
border-right:1px solid #DDD;
display:inline-block;
}

table {
overflow:auto;
border-collapse:collapse;
}

td,th {
padding:.3em .5em;
line-height:110%;
}

.list-actions {
line-height:150%;
}

td {
line-height:auto;	
}

th {
border-bottom:1px solid #DDD;
text-align:left;
}

tr td {
border-bottom:1px solid #DDD;
}

.image-list-item img {
height:2.5rem;
float:left;
}

.url-list-item {
color:#777;
}

.inline-form {
padding:1em 1.5em 1.2em;
margin:1em 0 1em;
border-top:1px solid #DDD;
border-bottom:1px solid #DDD;
overflow:auto;
}

.edit-form img {
width:200px;
float:left;
padding:.4em;
border:1px solid #DDD;
margin-bottom:.4em;
}

.inline-actions {
min-width:125px;
}

.replace-image {
clear:both;
font-size:1em;
color:#777;
width:120px;
}

label {
float:left;
width:15%;
margin-top:.2em;
}

.form-block {
clear:both;
}

.field-block {
float:left;
overflow:auto;
}

input,textarea {
font-family:"Open Sans";
}

input[type=checkbox],select {
margin-bottom:1.8em;
}

input[type=text],input[type=submit],input[type=password],input[type=email],input[type=date],button,textarea {
-webkit-appearance:none;
border-radius:0;
}

input[type=text],input[type=password],input[type=email],input[type=date],textarea {
border:1px solid #DDD;
font-size:1em;
padding:.2em;
box-shadow:inset 0 0 5px #EEE;
width:35em;
margin-bottom:.5em;
}

input[type=file] {
margin-bottom:1.5em;
}

input.currency {
width:5em;
}

textarea {
width:85%;
height:15em;
padding:1em;
}

.markdown-field {
width:100%;
font-family:Monaco, monospace;
min-height:450px;
}

td .sort {
width:42px;
margin:0;
}

.blurb {
height:7.5em;
}

.listing-actions {
position:fixed;
top:.2em;
z-index:10;
right:1.4em;
}

input[type=submit],.action,button {
padding:.3rem 1rem;
text-decoration:none;
cursor:pointer;
border:0;
border-radius:0;
outline:0;
font-size:1rem;
background:#6888AE;
display:inline-block;
color:#FFF;
margin:1rem 0;
}

input::-moz-focus-inner {
padding:0;
border:0;
}

input[type=submit]:hover,.action:hover,button:hover {
background:#476790;
}

.inline-actions input[type=submit],.action {
margin:.2rem;
}

.list-action {
float:right;
}

.delete-action {
background:#C83038;	
}

input[type=submit].destructive {
background:#C83038;
}

.delete-action:hover,input[type=submit].destructive:hover {
background:#A81018;
}

.cancel,#show-nav {
display:none;
}

@media screen and (max-width:900px) {
	.sidebar {
	width:20%;
	}
	
	.content {
	width:80%;
	}
}

@media screen and (max-width:700px) {
	.sidebar {
	width:85%;
	left:-85%;
	}
	
	.global-actions {
	position:absolute;
	z-index:10;
	}
	
	.breadcrumbs {
	position:fixed;
	left:0;
	z-index:20;
	}
	
	.list-actions {
	padding-right:0;
	}
	
	.content {
	float:none;
	width:100%;
	position:relative;
	}
	
	table {
	min-width:100%;	
	}
	
	.table-wrapper {
	width:100%;
	overflow:auto;
	}
	
	#show-nav {
	display:block;
	margin:0 inherit;
	pointer-events:auto;
	}
	
	#show-nav a {
	float:left;
	width:30px;
	position:relative;
	height:20px;
	margin:.35em 1em 0 .15em;
	background:#333;
	text-indent:-200px;
	}
	
	#show-nav a:before {
	content:"";
	display:block;
	position:absolute;
	height:4px;
	border:4px solid #FCFBF9;
	width:32px;
	left:-5px;
	top:4px;
	}
	
	.open .container {
	overflow-x:hidden;
	width:100%;
	}
	
	.open .main-content,.open .breadcrumbs {
	pointer-events:none;
	-webkit-transform:translateX(85%);
	-ms-transform:translateX(85%);
	transform:translateX(85%);
	}
	
	.open .sidebar {
	-webkit-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transform:translateX(100%);
	position:relative;
	}
	
	.global-actions {
	top:3.45em;
	right:.5em;
	}

	tr td:nth-child(4),tr th:nth-child(4) {
	display:none;
	}
	
	label {
	width:100%;
	}
	
	label.blurb {
	height:auto;
	}
	
	input[type=text],input[type=password],input[type=email],textarea {
	width:100%;
	}
}

@media screen and (max-width:500px) {
	section,footer {
	padding:2.8em .5em .5em;
	}
	
	td,th {
	padding:.2em;
	}
	
	td {
	word-wrap:break-word;
	overflow:hidden;
	}
	
	th {
	width:10px;
	}
	
	tr td:nth-child(2),tr th:nth-child(2) {
	display:none;
	}
	
	tr td:nth-child(5),tr th:nth-child(5) {
	display:none;
	}
	
	tr td.list-actions,tr th.list-actions {
	display:table-cell;
	}
	
	h2 {
	padding-right:.5rem;
	}
	
	.breadcrumbs {
	padding:0 .5em;
	}
	
	.inline-form {
	margin:.5em 0 .5em;
	padding:.5em;
	}
}